.align-right {
    text-align: right;
    margin-left: 30px;
    height: 20px;
    width: 60px;
}

.align-left {
    text-align: left;
    margin-right: 30px;
    height: 20px;
    width: 60px;
}

.holder {
    height: 20px;
    width: 120px;
}

.float_r {
    float: right;
}

.float_l {
    float: left;
}

.center_margin {
    margin-left: 15px;
    margin-right: auto;
}

.button {
    border: black solid 1px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    vertical-align: text-bottom;
    /*padding-top: 4px;*/
}

.p_button {
    background-color: #9595A5;
}

.chord {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAfCAMAAAAlbpZMAAAAMFBMVEWSkpKqqqqtra2zs7O4uLi9vb3CwsLGxsbKysrQ0NDW1tba2tri4uLo6Ojs7Oz///86Fca0AAAAM0lEQVQoz2PgAwF+LIABvwz/qAy9ZPhxyvBgBQw8uAAeGS5cgCwZVlyALBlGXACPDFUBAKqCIMQcmQ+CAAAAAElFTkSuQmCC) repeat;
}

.p_chord {
    background-color: #9595A5;
}

.chord_menu_el {
    text-align: center;
    border: #656565 solid 1px;
    border-radius: 5px;
    background-color: #CDCDCD;
    font-size: 18pt;
}

.setting {
    text-align: center;
    font-size: 9pt;
}

.corner_b_l {
    width:0px;
    position: relative;
    top:-39px;
}
.corner_b_l:after, .corner_b_l:before {
    width:0px;
    border-bottom:39px solid black;
    border-right:70px solid transparent;
    position: absolute;
    content: '';
}
.corner_b_l:after {
    top:1px;
    left:-1px;
    border-bottom:39px solid white;
    border-right:70px solid transparent;
}
.corner_u_l {
    width:0px;
    position: relative;
}
.corner_u_l:after, .corner_u_l:before {
    width:0px;
    border-top:39px solid black;
    border-right:70px solid transparent;
    position: absolute;
    content: '';
}
.corner_u_l:after {
    top:-1px;
    left:-1px;
    border-top:39px solid white;
    border-right:70px solid transparent;
}
