td {
    width : 60px;
    height : 30px;
    text-align : center;
    font-size: 12pt;
    font-weight: normal;
}

.pressed_as_bold {
    font-size: 14pt;
    font-weight: bold;
}

.unpressed {
    font-size: 12pt;
    font-weight: normal;
}

.align-right { text-align: right; }
.align-left { text-align: left; }