html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -64px;
}

* html .page-wrapper {
    height: 100%;
}

.page-buffer {
    height: 30px;
}

.align-right {
    margin-left: 30px;
    width: 26px;
    margin-top: 14px;
    margin-right: 16px;
}

.holder_lkdb {
    height: 40px;
    display: flex;
    margin: 0 0 5px;
    padding: 0;
    border-spacing: 0;
    border-collapse: unset;
}

.holder_rkdb {
    height: 36px;
    display: flex;
    margin: 0 0 5px;
    padding: 0;
    border-spacing: 0;
    border-collapse: unset;
}


.flex_r {
    width: 26px;
    margin-bottom: 14px;
}

.flex_l {
    width: 26px;
    margin-bottom: 14px;
}

.flex_c {
    width: 26px;
    margin-top: 14px;
    margin-right: 16px;
    margin-left: 16px;
}

.button {
    border: #777777 solid 2px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: text-bottom;
}

.p_button {
    background-color: #FF95A5;
}

.chord {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABkAAAAfCAMAAAAlbpZMAAAAMFBMVEWSkpKqqqqtra2zs7O4uLi9\
    vb3CwsLGxsbKysrQ0NDW1tba2tri4uLo6Ojs7Oz///86Fca0AAAAM0lEQVQoz2PgAwF+LIABvwz/\
    qAy9ZPhxyvBgBQw8uAAeGS5cgCwZVlyALBlGXACPDFUBAKqCIMQcmQ+CAAAAAElFTkSuQmCC");
    background-repeat: repeat;
}

.p_chord {
    background-color: #FF95A5;
}

.chord_menu_el {
    text-align: center;
    border: #656565 solid 1px;
    border-radius: 5px;
    background-color: #CDCDCD;
    font-size: 18pt;
}

.setting {
    text-align: center;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
}

.btn_number {
    position: relative;
    top: -22px;
    left: 28px;
    font-size: 7pt;
    color: #BBBBBB;
    width: 10px;
}

/* right-kbd inside this td */
#left-col {
    height: 598px;
    width: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right:solid 1px black;
}

#right-kbd {
    height: 520px;
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 39px;
    margin-bottom: 39px;

}

/* left-kbd inside this td */
#right-col {
    height: 598px;
    width: 270px;
    padding-top: 0;
    margin-top: 0;
    border: solid 1px black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: unset;
}

#left_kbd_holder {
    display: flex;
    margin-top: 20px;
}

#left_kbd {
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    /*height: 380px;*/
    clear: both;
    border: solid 1px black;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
    flex: 2;
}

#left_kbd_space {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: solid 1px  #f1f1f1;
    /*width: 270px;*/
    /*height: 40px;*/
}

#current_chord {
    text-align: center;
    font-size: 34pt;
    margin: 10px auto 10px auto;
    height: 50px;
    border-top: solid 1px black;
}

#melodies, #tempo, #show-right {
    width: 100%;
    font-size: 10pt;
}

.rotate {
    transform: rotate(-90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}