.note {
    border: #ff3232 solid 2px;
    border-radius: 50%;
    width: 8px;
    height: 7px;
    position: absolute;
    background-color: #ff3232;
    margin-left: 4px;
    text-align: center;
    vertical-align: text-bottom;
}

.note_sign {
    font-family: "Courier New", monospace;
    font-size: 10pt;
    text-align: center;
}

.note_sign_ru {
    font-family: "Courier New", monospace;
    font-size: 7pt;
    text-align: center;
}

.no_bg_img {
    background-image: none;
}

.sharp, .flat {
    font-family: "Courier New", monospace;
    font-size: 14pt;
    text-align: center;
}
