.C1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABMklEQVR42u3cMQ6AIBBFQcT731ktTCQWNko2/tkDmEyxyGtoa+w0dHR0dHR0dHR0dPTx04+D\
    jm7X0dHR0dHR0dHR0dHRlRs6ul1HR0dHR0dHR0dHR0cXreh63TGHjo6Ojo6Ojo6Ojq7c0NHtOjo6\
    Ojo6Ojo6Ojo6unJDR7fr6Ojo6Ojo6Ojo6OjKDR3drqOjo6Ojo6Ojo6Ojo78SZh8MOrpdR0dHR0dH\
    R0dHR0dHV27o6HYdHR0dHR0dHR0dHV2vi1Z0ve6YQ0dHR0dHR0dHR0dXbujodh0dHR0dHR0dHR0d\
    Xa+LVnS97phDR0dH/wF9OSaRvpwTR9/N/ZhC9jZXXsneJssL2WfRe7/Yg+iDvIx9ykvhN3rOI+no\
    OfTgXXfCh//Xg29zyXf45HJL7vV6E0zfANJuLIDDlr4UAAAAAElFTkSuQmCC");
}

.D1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABL0lEQVR42u3csQqAIBSGUbX3f+dqEAqECEqE/9ylLTjDNb+lssVOQUdHR0dHR0dHR0e/v/px\
    0NHtOjo6Ojo6Ojo6Ojo6unJDR7fr6Ojo6Ojo6Ojo6OjoohVdrzvm0NHR0dHR0dHR0dGVGzq6XUdH\
    R0dHR0dHR0dHR1du6Oh2HR0dHR0dHR0dHR1duaGj23V0dHR0dHR0dHR0dPRPwuyHQUe36+jo6Ojo\
    6Ojo6Ojo6MoNHd2uo6Ojo6Ojo6Ojo6PrddGKrtcdc+jo6Ojo6Ojo6Ojoyg0d3a6jo6Ojo6Ojo6Oj\
    o+v14Git5yTSa5+4Xj/M7ZzjGXbMdflK9jJZvpB9Fr21iz2IfpMvY0dHR0d3wvuuu825w79Ou1G5\
    hdBHvR5D93/4LWDX0dHR0dHR0SfPDgLjLDscvI4lAAAAAElFTkSuQmCC");
}

.E1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABMElEQVR42u3cQQqAIBQEULX737lcBEmLCEo+/jcHCN5irGlh2dKmoKOjo6Ojo6Ojo6OPj34M\
    Orquo6Ojo6Ojo6Ojo6OjW27o6LqOjo6Ojo6Ojo6Ojo5utKLb6445dHR0dHR0dHR0dHTLDR1d19HR\
    0dHR0dHR0dHR0S03dHRdR0dHR0dHR0dHR0e33NDRdR0dHR0dHR0dHR0dHf2TYfZD0NF1HR0dHR0d\
    HR0dHR0d3XJDR9d1dHR0dHR0dHR0dHR73WhFt9cdc+jo6Ojo6Ojo6Ojolhs6uq6jo6Ojo79O7clI\
    r2fS0Q9z6wlkL3PlkexlsjyQfRa9tYs9EX2Qh7FPWW43ep7Rir4MPXHXnfDe677mfMNbbva6vzTo\
    6Ojoi9Fdko7ufnjHHDo6Ojo6OvoP2QED5yyA8GvLqgAAAABJRU5ErkJggg==");
}

.F1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABLElEQVR42u3cMQ6AIBAEQMD//1koSKSyEXLxZhs7kynuZDWxXGlT0NHR0dHR0dHR0dHXW78G\
    Hd2so6Ojo6Ojo6Ojo6Oja27o6GYdHR0dHR0dHR0dHR1daUXX1605dHR0dHR0dHR0dHTNDR3drKOj\
    o6Ojo6Ojo6Ojo2tu6OhmHR0dHR0dHR0dHR1dc0NHN+vo6Ojo6Ojo6Ojo6OifFLMNQUc36+jo6Ojo\
    6Ojo6Ojo6JobOrpZR0dHR0dHR0dHR0fX15VWdH3dmkNHR0dHR0dHR0dH19yO0etIRnqdSdfXu7mN\
    9GuyNTflkezlsDyQ/RS9tYc9EX2Rh7Gjo6Oj2/Ce605zzvCpm5u+7vt6qndz6Ojo6Ojo6Ojo6Og/\
    o/tJOrr/w1tz6Ojo6Ojo6BtyA/mSLDulbt3UAAAAAElFTkSuQmCC");
}

.G1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABNElEQVR42u3cQQqAIBAFULX737lcBEmLNimD8+YAwVv8qZ9gOdJOQUdHR0dHR0dHR0cfH/05\
    6Oiyjo6Ojo6Ojo6Ojo6Orrmho8s6Ojo6Ojo6Ojo6Ojq60oqur1tz6Ojo6Ojo6Ojo6OiaGzq6rKOj\
    o6Ojo6Ojo6Ojo2tu6Oiyjo6Ojo6Ojo6Ojo6uuaGjyzo6Ojo6Ojo6Ojo6OvovxWzCoKPLOjo6Ojo6\
    Ojo6Ojo6uuaGji7r6Ojo6Ojo6Ojo6Oj6utKKrq9bc+jo6Ojh6bVPRnq9Jx39Mrc+gexlrTySvSyW\
    B7Kvorf2sCeiD/Iw9iXN7UXPU1rRt6EnzroN773ua843vOamr/tLg46Ojr5tX3fIjO583ZpDR0dH\
    R0dHR0dHR49Cd0k6uvvhrTl0dHR0dHT0CXMCNVEsgCAnckwAAAAASUVORK5CYII=");
}

.G1_sharp {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABT0lEQVR42u3cQQqDQAwFUDPe/86lC9FpBRF0iOb9jRsRXmlSfwWnuWwmdHR0dHR0dHR0dPT+\
    0odBRzfr6Ojo6Ojo6Ojo6Ojomhs6ullHR0dHR0dHR0dHR0dXWtH1dWsOHR0dHR0dHR0dHV1zQ0c3\
    6+jo6Ojo6Ojo6Ojo6JobOrpZR0dHR0dHR0dHR0fX3NDRzTo6Ojo6Ojo6Ojo6OvolxeyGoKObdXR0\
    dHR0dHR0dHR0dM0NHd2so6Ojo6Ojo6Ojo6Pr60orur5uzaGjp6FH9Ed09PWsSPXZDKPHktfQYy/7\
    57VvEtkH0Rd5JvuYL/wqT2QfRW9tYy9E7+Rp7Jc0t4j++Js/+ntKK3oZeuFZt+Hr/q4XvpsrfA9f\
    uLnp6/6lqUd/ZtDR0c82Nw+Z0T1ft+bQ0dHR0dHR0dHR0Z9C95J0dO+Ht+bQ0dHR0dHRb8gHXRcr\
    dGGMWXEAAAAASUVORK5CYII=");
}

.A1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABLklEQVR42u3cMQ6AIBAEQMD//1ksSKSyEXLh5ho7kyn2dNVYrrRT0NHR0dHR0dHR0dHnU38O\
    Orqso6Ojo6Ojo6Ojo6Oja27o6LKOjo6Ojo6Ojo6Ojo6utKLr69YcOjo6Ojo6Ojo6Orrmho4u6+jo\
    6Ojo6Ojo6Ojo6JobOrqso6Ojo6Ojo6Ojo6Nrbujoso6Ojo6Ojo6Ojo6Ojv5LMVsw6Oiyjo6Ojo6O\
    jo6Ojo6Orrmho8s6Ojo6Ojo6Ojo6Orq+fmxprc9kpNcx6fp6N7dn+jHZmhvySPayWR7Ivove2sue\
    iD7Jw9jR0dHRbXjXdXdz7uFTNzd93fv1VM/m0NHR0dHR0dHR0dGP7us+CkfX1605dHR0dHR0dHR0\
    dPQIdD9JR/d/eGsOHR0dHR0dfcHc8FAsO3hKvuEAAAAASUVORK5CYII=");
}

.H1 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABL0lEQVR42u3ZQQqAIBQEULX737lcBFmLKErE/+YAwVuMNZmWsEno6Ojo6Ojo6Ojo6O2jb4OO\
    ruvo6Ojo6Ojo6Ojo6OiWGzq6rqOjo6Ojo6Ojo6Ojoxut6Pa6Yw4dHR0dHR0dHR0d3XJDR9d1dHR0\
    dHR0dHR0dHR0yw0dXdfR0dHR0dHR0dHR0S03dHRdR0dHR0dHR0dHR0dH/2SY/RB0dF1HR0dHR0dH\
    R0dHR0e33NDRdR0dHR0d/ZxcE5Ge94Sjb+ZSM449dZYPZE+95ePYu9FLOdgD0Rv5KPY+y+1CjzNa\
    0WehB+66E9573decb3jLzV73lwYdHR193r3ukhnd/bpjDh0dHR0dHR0dHR3dckNH13V0dHR0dHR0\
    dHR0dPTX0w4dXdfR0dHR0dHR0R9nBWdbLICGVFi7AAAAAElFTkSuQmCC");
}

.C2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABLElEQVR42u3aMQ6AIBAEQMD//1koSKQyGiTEm2vsTKbYk1XTEXYSOjo6Ojo6Ojo6Ovp469tB\
    R5d1dHR0dHR0dHR0dHR0zQ0dXdbR0dHR0dHR0dHR0dGVVnR93ZpDR0dHR0dHR0dHR9fc0NFlHR0d\
    HR0dHR0dHR0dXXNDR5d1dHR0dHR0dHR0dHTNDR1d1tHR0dHR0dHR0dHR0acUsw8GHV3W0dHR0dHR\
    0dHR0dHRNbdJ9NwmIj33CdfXq7m0qddga67Ld7KnxfKN7KvopVzsgeiDfBs7Ojo6ug3vue405wwf\
    urnp676vh3o3h46Ojo6Ojo6Ojo7+677up3B0fd2aQ0dHR0dHR0dHR0fX3NDRZR0dHR0dHR0dHR0d\
    Hf1dtUNHl3V0dHR0dHR09MdzAucOLDt9NmifAAAAAElFTkSuQmCC");
}

.D2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABNElEQVR42u3cMQ6AIBAEQMD//1kpTCQWNoLIzT3AZIo9XUlIW9hJ6Ojo6Ojo6Ojo6Ojtox8H\
    HV3W0dHR0dHR0dHR0dHRNTd0dFlHR0dHR0dHR0dHR0dXWtH1dWsOHR0dHR0dHR0dHV1zQ0eXdXR0\
    dHR0dHR0dHR0dM0NHV3W0dHR0dHR0dHR0dE1N3R0WUdHR0dHR0dHR0dHR3+lmHUYdHRZR0dHR0f/\
    mp7rRKTnc8LRD3OpM489DZZPZE+j5fPYh9FLudgD0Rv5LPYxze1Gj1Na0VehB866De+97mvON7zm\
    pq/7S4OOjo6+bl93yIzufN2aQ0dHR0dHR0dHR0fX3NDRZR0dHR0dHR0dHR0dXV9XWtH1dWsOHR0d\
    HR0dHR0dHf03dJeko7sf3ppDR0dHR0dH7zA7mMUsgEw+yygAAAAASUVORK5CYII=");
}

.D2_sharp {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABTklEQVR42u3cQQqDQAwFUDO9/52lC9FBSynokE7e37gR4ZUm9VdweZXNgo6Ojo6Ojo6Ojo7e\
    X/pr0NHNOjo6Ojo6Ojo6Ojo6uuaGjm7W0dHR0dHR0dHR0dHRlVZ0fd2aQ0dHR0dHR0dHR0fX3NDR\
    zTo6Ojo6Ojo6Ojo6Orrmho5u1tHR0dHR0dHR0dHRNTd0dLOOjo6Ojo6Ojo6Ojo5+SzF7IOjoZh0d\
    HX0QPaI/oqMfTotMH844emyZhR5X+XBieyePfRR9kyeyD/rC7/I89mH01g72QvROnsV+S3OL6I+n\
    nOjTlFb0MvTCs27D1/1dL3w3V/gevnBz09f9S1OP/p9BR0f/tbl5yIzu+bo1h46Ojo6Ojo6Ojo6u\
    r6Ojm3V0dHR0dHR0dHR0dHTNDR3dmkNHR0dHR0dHR0dHn4fuJeno3g9vzaGjo6Ojo6M/kBXmHCt0\
    7KkTaQAAAABJRU5ErkJggg==");
}

.E2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABM0lEQVR42u3cQQqAIBAFULX73zldCLmKoEKd9zftgreYyV9QOsImoaOjo6Ojo6Ojo6OPt74N\
    OrpZR0dHR0dHR0dHR0dH19zQ0c06Ojo6Ojo6Ojo6Ojq60oqur1tz6Ojo6Ojo6Ojo6OiaGzq6WUdH\
    R0dHR0dHR0dHR9fc0NHNOjo6Ojo6Ojo6Ojq65oaObtbR0dHR0dHR0dHR0dFfKWYfZFF6bolIzz0b\
    0J+lmktLvQZbc10+kz39LJ/I/he9lIs9EH2QT2NHR0dHt+E9153mnOFDNzd9PeJbmsDv5tDR0dHR\
    0dHR0dHRt+7rob+vo+vr1hw6Ojo6Ojo6Ojo6uuaGjm7W0dHR0dHR0dHR0dH1daUVXV+35tDR0dHR\
    0dHR0dHRF6L7STq6/8Nbc+jo6Ojo6Ogf5ATdzCw7IOSgNgAAAABJRU5ErkJggg==");
}

.F2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABLklEQVR42u3cMQqAMBAEwDP+/89qISgWSojh4GYfIEyx0bVIrGUT6Ojo6Ojo6Ojo6Oj3R78G\
    HV3X0dHR0dHR0dHR0dHRLTd0dF1HR0dHR0dHR0dHR0c3WtHtdcccOjo6Ojo6Ojo6Orrlho6u6+jo\
    6Ojo6Ojo6Ojo6JYbOrquo6Ojo6Ojo6Ojo6Nbbujouo6Ojo6OnoK+HKlIX86Uo+/mdiSRPebKM9lj\
    sjyRfRa9tYu9EP0mT2Pvp8f3POjRG3R0XXfCe6/7mvMNb7nZ6/7SoKOjo6OPWm7jgo6u6+jo6Ojo\
    6Ojo6Ojo6JYbOrquo6Ojo6Ojo6Ojo6Pb60Yrur3umENHR0dHR0dHR0dHt9zQ0XUdHR0dHR0dHR0d\
    Hb0e3SXp6O6Hd8yho6Ojo6Oj/5ANyY8sgI4rksMAAAAASUVORK5CYII=");
}

.F2_sharp {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABQ0lEQVR42u3cQQqEMBAEwEz8/58XD6LBlWUFh8FUX7yIUOLEtAfbMm0aOjo6Ojo6Ojo6Ovp4\
    6Z9BRzfr6Ojo6Ojo6Ojo6Ojomhs6ullHR0dHR0dHR0dHR0dXWtH1dcscOjo6Ojo6Ojo6Orrmho5u\
    1tHR0dHR0dHR0dHR0TU3dHSzjo6Ojo6Ojo6Ojo6uuaGjm3V0dPRMesR4REc/nBalbk4aPba8hR7f\
    cnFiX1PInkTf5JXsOQ/8Li9kz6L3frBPRB/kZez36XsBixiPp5zo7W7Q0c26Fd573W7OHl5z09d9\
    pUFfpg06OvqfzS0x6OhmHR0dHR0dHR0dHR0dXXNDRzfr6Ojo6Ojo6Ojo6Oj6utKKrq9b5tDR0dHR\
    0dHR0dHRNTd0dLOOjo6Ojo6Ojo6Ojj4f3U/S0f0f3jKHjo6Ojo6O/kA+qKordL0VAnEAAAAASUVO\
    RK5CYII=");
}

.G2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABOElEQVR42u3dQQqEMAxA0Vrvf2d1UbAgqKAlJS+b2Q28RTL+jVPWtFPQ0dHR0dHR0dHR0fuv\
    vh10dLuOjo6Ojo6Ojo6Ojo6u3NDR7To6Ojo6Ojo6Ojo6OrpoRdfrzhw6Ojo6Ojo6Ojo6unJDR7fr\
    6Ojo6Ojo6Ojo6Ojoyg0d3a6jo6Ojo6Ojo6Ojoyu3qenLMRnpS5t0vb6b6zH7Z7Iz1+SR7GWwPJB9\
    FL3Wkz0RvZOHsaOjo6O78H7XPc15hn+S47fl9n6mpF/1ehr6FzPjrgccdHR0dHR0dHR0dPQs9MTl\
    hq7XnTl0dHR0dHR0dHR0dL0uWtHtOjo6Ojo6Ojo6Ojo6unJDR7fr6Ojo6Ojo6Ojo6Oh6XbSi63Vn\
    Dh0dHR0dHR0dHR19JN374dH9n5szh46Ojo6Ojv7DbNSKLDtAH3KCAAAAAElFTkSuQmCC");
}

.A2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABMklEQVR42u3dMQqAQAxFwXW9/53VQlAsrIyBPzmAMEWir3KssTPQ0dHR0dHR0dHR0e+Pfh10\
    dLuOjo6Ojo6Ojo6Ojo6u3NDR7To6Ojo6Ojo6Ojo6OrpoRdfrzhw6Ojo6Ojo6Ojo6unJDR7fr6Ojo\
    6Ojo6Ojo6Ojoyg0d3a6jo6OjR9KXYxLpyzlx9N08j2lkH7XyTvZRLG9kr6LPebEH0W/yNvaScnvQ\
    c6IVPYcevOsufPh7PfhrLvkbPrncknu936Cjo6Ojv4ZZ4aCj23V0dHR0dHR0dHR0dHTlho5u19HR\
    0dHR0dHR0dHR9bpoRdfrzhw6Ojo6Ojo6Ojo6unJDR7fr6Ojo6Ojo6Ojo6Oh6XbSi63VnDh0dHR0d\
    HR0dHR39f7qfmqH7n5szh46Ojo6Ojv7BbPr5LIDzhvBnAAAAAElFTkSuQmCC");
}

.H2 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABK0lEQVR42u3dMQ6AIBAEwAP//2exIJHKWAiYm23sTKa4k7XQONIm0NHR0dHR0dHR0dHHWz8G\
    Hd2so6Ojo6Ojo6Ojo6Oja27o6GYdHR0dHR0dHR0dHR1daUXX1605dHR0dHR0dHR0dHTNDR3drKOj\
    o6Ojo6Ojo6Ojo2tuL+jlSkZ66UnX15u5XmnXZGuuy3eyx2T5RvZZ9Fpv9kT0Qb6NHR0dHd2G91x3\
    mnOG19z0dW9p/hV0dHR0dHR0dHR09Cz0WBF0dLOOjo6Ojo6Ojo6Ojo6uuaGjm3V0dHR0dHR0dHR0\
    dH1daUXX1605dHR0dHR0dHR0dHTNDR3drKOjo6Ojo6Ojo6Oj6+tKK7q+bs2ho6Ojo6Ojo6Ojo6+n\
    +58buu/DW3Po6Ojo6OjoH+QEy0gsO7rFgE8AAAAASUVORK5CYII=");
}

.C3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABOklEQVR42u3cMQrDQAwEQPny/z87LgwxLlKEyIKdfYBhCsm3HFy9YlPo6Ojo6Ojo6Ojo6NdP\
    fw06ullHR0dHR0dHR0dHR0fX3NDRzTo6Ojo6Ojo6Ojo6OrrSiq6vW3Po6Ojo6Ojo6Ojo6JobOrpZ\
    R0dHR0dvyHYkkb6diaO/zevIIHv1yifZq1k+yN5FX+vDHkS/yMfYW5rbjZ5TWtFz6MGzbsOH/9eD\
    T3PJZ/jk5pbc1+cFHR0dHf335uaSGd39ujWHjo6Ojo6Ojo6Ojt5EryeCjm7W0dHR0dHR0dHR0dHR\
    NTd0dLOOjo6Ojo6Ojo6Ojq6vK63o+ro1h46Ojo6Ojo6Ojo6uuaGjm3V0dHR0dHR0dHR0dH1daUXX\
    1605dHR0dHR0dHR0dPTn6R5JR/c+vDWHjo6Ojo6O/ofsLHIsgLlWWIgAAAAASUVORK5CYII=");
}

.D3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABLElEQVR42u3cMQ7DIAxAUSD3v3NgQApTpoAjPy/dKr3Bbn6HlCvtFHR0dHR0dHR0dHT09atf\
    Bx3drqOjo6Ojo6Ojo6Ojoys3dHS7jo6Ojo6Ojo6Ojo6OLlrR9bozh46Ojo6Ojo6Ojo6u3ALT65iM\
    9DonXa93cxvTP5OduSmPZC+b5YHsu+itPeyJ6Is8jB0dHR3dhfe77mnOM7xy0+v+pfnXoKOjo6Oj\
    o6Ojo6OjKzd0ve7MoaOjo6Ojo6Ojo6OfopcTg45u19HR0dHR0dHR0dHR0ZUbOrpdR0dHR0dHR0dH\
    R0fX66IVXa87c+jo6Ojo6Ojo6Ojoyg0d3a6jo6Ojo6Ojo6Ojo+t10Yqu1505dHR0dHR0dHR0dPTz\
    dC9JR/d+eGcOHR0dHR0d/YO5AcIGLDsczBRfAAAAAElFTkSuQmCC");
}

.E3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABOklEQVR42u3cQQqDUAxF0fjd/56rA0Fx0EHxG/pOFlA4g6ReBGuNnUJHR0dHR0dHR0dHv/70\
    10FHt+vo6Ojo6Ojo6Ojo6OjKDR3drqOjo6Ojo6Ojo6Ojo4tWdL3uzKGjo6P/IX3ZJ5G+HBNH38xj\
    n0b2mivvZK/J8kb2WfQxTvYg+kXexj6l3G70nGhFz6EH77oLH/6/Hvw0l/wMn1xuyb3eb9DR0dHR\
    fy83L5nRvV935tDR0dHR0dHR0dHRlRs6ul1HR0dHR0dHR0dHR4+l1xuDjm7X0dHR0dHR0dHR0dHR\
    lRs6ul1HR0dHR0dHR0dHR9frohVdrztz6Ojo6Ojo6Ojo6OjKDR3drqOjo6Ojo6Ojo6Oj63XRiq7X\
    nTl0dHR0dHR0dHR09PfpPpKO7vvwzhw6Ojo6Ojr6A/MBXdwsgMeHLBEAAAAASUVORK5CYII=");
}

.F3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABKklEQVR42u3cMQ6AIBAEQMD//1koMFJpA2JutrEzmeJO1oJ0hE1CR0dHR0dHR0dHRx9f/Rh0\
    dLOOjo6Ojo6Ojo6Ojo6uuaGjm3V0dHR0dHR0dHR0dHSl9UpuiUjPPeH6ejWXlvoMtua6fCd7Wizf\
    yL6KXsrNHog+yLexo6Ojo9vwvutOc87wmpu+7i/Nv4KOjo6Ojo6Ojo6Ojq65oevr1hw6Ojo6Ojo6\
    Ojo6uuaGjm7W0dHR0dHR0dHR0dHR3xezCUFHN+vo6Ojo6Ojo6Ojo6OiaGzq6WUdHR0dHR0dHR0dH\
    19eVVnR93ZpDR0dHR0dHR0dHR9fc0NHNOjo6Ojo6Ojo6Ojq6vq60ouvr1hw6Ojo6Ojo6Ojo6+vd0\
    l6Sjux/emkNHR0dHR0efkBO4xCw7RqIDYwAAAABJRU5ErkJggg==");
}

.G3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABOUlEQVR42u3cQQqEMBAEwDH+/8+uB0Hx4EE2DnT1A4Q6zJgmkFpjU+jo6Ojo6Ojo6Ojo108/\
    Bh3drKOjo6Ojo6Ojo6Ojo2tu6OhmHR0dHR39dZY9ifTlSBz9Zx57GtlrrryTvSbLG9ln0cc42YPo\
    F3kb+5TmdqPnlFb0HHrwrNvw4f/14NNc8hk+ubkl9/V+QUdHR0d/39xcMqO7X7fm0NHR0dHR0dHR\
    0dE1N3R0s46Ojo6Ojo6Ojo6Ojq65oaNbc+jo6Ojo6Ojo6Ojobej1RdDRzTo6Ojo6Ojo6Ojo6Orrm\
    ho5u1tHR0dHR0dHR0dHR9XWlFV1ft+bQ0dHR0dHR0dHR0TU3dHSzjo6Ojo6Ojo6Ojo6uryut6Pq6\
    NYeOjo6Ojo6Ojo6O/j3dI+no3oe35tDR0dHR0dH/kA2PRiyACFNzwwAAAABJRU5ErkJggg==");
}

.A3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABKklEQVR42u3cMQ6AIBAEQMD//1koSKSyEs7cbGNnMsWdrAXlSpuCjo6Ojo6Ojo6Ojr6++jXo\
    6GYdHR0dHR0dHR0dHR1dcztGryMZ6XUmXV/v5jbSn8nW3JRHspfN8kD2XfTWHvZE9EUexo6Ojo5u\
    w/uuO805w2tu+rq/NP8KOjo6Ojo6Ojo6Ojq65oaur1tz6Ojo6Ojo6Ojo6OiaGzq6WUdHR0dHR0dH\
    R0dHR9fc0NHNOjo6Ojo6Ojo6Ojp6XHo5EXR0s46Ojo6Ojo6Ojo6Ojq65oaObdXR0dHR0dHR0dHR0\
    fV1pRdfXrTl0dHR0dHR0dHR0dM0NHd2so6Ojo6Ojo6Ojo6Pr60orur5uzaGjo6Ojo6Ojo6Ojn6e7\
    JB3d/fDWHDo6Ojo6OvoHuQGvgiw7dfEjBgAAAABJRU5ErkJggg==");
}

.H3 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABOklEQVR42u3cMQqEQBBFwXG8/53VQFAMDMSx5VcfYKGC7vUh2ObYaejo6Ojo6Ojo6Ojo55++\
    HXR0u46Ojo6O/jv6tE0ifdonjr6a+zaF7G2svJK9DZYXso+i936wB9FP8jL2IeV2oedEK3oOPXjX\
    Xfjw//Xgp7nkZ/jkckvu9XqDjo6Ojv683LxkRvd+3ZlDR0dHR0dHR0dHR1du6Oh2HR0dHR0dHR0d\
    HR0dXbmhoztz6Ojo6Ojo6Ojo6OjKDR3drqOjo6Ojo6Ojo6Ojoz8IsxcGHd2uo6Ojo6Ojo6Ojo6Oj\
    Kzd0dLuOjo6Ojo6Ojo6Ojq7XRSu6Xnfm0NHR0dHR0dHR0dGVGzq6XUdHR0dHR0dHR0dH1+uiFV2v\
    O3Po6Ojo6Ojo6Ojo6N/TfSQd3ffhnTl0dHR0dHT0F2YBwLAsgCW3BNcAAAAASUVORK5CYII=");
}

.C4 {
    background-image: url("data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAPoAAADICAMAAAD2gAypAAAADFBMVEUAAAD2NDXymJj////qv2Fu\
    AAABKklEQVR42u3cMQ6AIBAEQMD//1koSKSyEYTcbGNnMsWdrAXpCpuEjo6Ojo6Ojo6Ojj6++jVh\
    6LklIj33RKAPqebSUp/B1lyX72RPi+Ub2VfRS3nYA9EH+TZ2dHR0dBved91pzhlec9PX/aU5K+jo\
    6Ojo6Ojo6Ojo6Jobur5uzaGjo6Ojo6Ojo6Oja27o6GYdHR0dHR0dHR0dHR1dc0NHN+vo6Ojo6Ojo\
    6Ojo6JobOrpZR0dHR0dHR0dHR0dH/7KYTQg6ullHR0dHR0dHR0dHR0fX3NDRzTo6Ojo6Ojo6Ojo6\
    ur6utKLr69YcOjo6Ojo6Ojo6Orrmho5u1tHR0dHR0dHR0dHR9XWlFV1ft+bQ0dHR0dHR0dHR0f+n\
    uyQd3f3w1hw6Ojo6Ojr6hNymQCw7UDOuWwAAAABJRU5ErkJggg==");
}

#note_hint {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14pt;
    margin: 10px auto 10px auto;
    height: 200px;
    border-top: solid 1px black;
}

.no_bg_img {
    background-image: none;
}