.C1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdElEQVRo3u3YQQrAIAxFwSTe/87duBe0LUIm0G1hePyNMdpeoKO/+uvlqY6Obuuqo6Pbuuro6LauOjq6rauOjm7rqqOjb0/5g1MdHd3WVUdHt3XV0dFtXXV0dFtX/ewqqym9Mm6z//UOn/Nr+A7fq/rtW38A39qIwPmgCUIAAAAASUVORK5CYII=) center;
}

.D1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAc0lEQVRo3u3UwQ2AMAwEQZ/pv2foIBJK8vG4AKTRZaln7BU6+tZPL8/q6Ohatzo6utatjo6udaujo2vd6ujoWrc6OvrvlA+c1dHRtW51dHStWx0dXetWR0ff2Xqnh7beqfTMB59vssykz1p93bo/PPrtewG+QYjD8LRVKgAAAABJRU5ErkJggg==) center;
}

.E1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdElEQVRo3u3UQQrAIAxFwSS9/5276b4gKmIm0G1heHzjaXuBjj7117+nOjq6rauOjm7rqqOj27rq6Oi2rjo6uq2rjo4+POUFpzo6uq2rjo5u66qjo9u66uuusprSK+M0+66t5/c13PpV1W3dCz/0GKiOvvtegbqIwCnLCY0AAAAASUVORK5CYII=) center;
}

.F1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdElEQVRo3u3V0QmAQAxEwWzsv2ftwEP0PsykAGF4rtYx9god/dVH357q6Oi2rjo6uq2rjo5u66qjo9u66ujotq46OvrjKX9wqqOj27rq6Oi2rjo6+q6td3ro1juVnvnC50qWmfRfVbd1Pzd09MWPgerou+8Ea+WIw5wWfowAAAAASUVORK5CYII=) center;
}

.G1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAd0lEQVRo3u3YQQrAIAwEwCT9/5978S6UtoqZgFdhWJeAcbWdQEd/9erpSB0dXdeljo6u61JHR9d1qaOj67rU0dF1Xero6I+r/MFIHR1d16WOjq7rUl9Dr6ym9MrYzf5X13Ochl0/KnVdt9ftdXsdvS3dP7wHv9/cI5qIwFjC2XoAAAAASUVORK5CYII=) center;
}

.A1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAd0lEQVRo3u3YgQnAIAwEwCTdf2e7QaG0IP5lAOH4PIp1xU6ho3969ONIHR1d16WOjq7rUkdH13Wpo6PrutTR0XVd6ujor6v8w0gdHV3XpY6OvkPXpye069PVk7nwfUfWmfSjUtd1lxu6e90b3sKjB9H9w1v4/WYBGYmIw0UogaQAAAAASUVORK5CYII=) center;
}

.H1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAeElEQVRo3u3YQQrAMAgEQLX//3MuvRdKGySOkGtg2CxC4ho7gY7+6dWPI3V0dF2XOjq6rksdHV3XpY6OrutSR0fXdamjo7+u8g8jdXR0XZd6P3plDaVXRjf7rq7nfQZ2/ajUdd1et9ftdXRd13UPHv1oun94D77fLMVriMBvkt7QAAAAAElFTkSuQmCC) center;
}

.C2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAeElEQVRo3u3YgQnAIAwEwHy6/87tBgVpQcxlAOH4PIp1jZ1CR//06NeROjq6rksdHV3XpY6OrutSR0fXdamjo+u61NHRl6v8w0gdHX33rnd6aNc7lZ658Hkiy0z6UanrussN3b3uDW/h0XVd1y08+mF0//AWfr+5AcceiMPLd3JMAAAAAElFTkSuQmCC) center;
}

.D2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAeUlEQVRo3u3YQQqAMAwAwST+/89evAvFltZMwKuwbJZA42o7AR36p79+HdahQ9c669Cha5116NC1zjp06FpnHTp0rbMOHfpwyhOG9bPQK6spemXsxr6q9Xy+hq3/yrrW3XV33V2HrnWtW3joWte6hYd+PLp3eAu/39xnS4jAzISMoQAAAABJRU5ErkJggg==) center;
}

.E2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAeklEQVRo3u3YQQrAIAwEwCT9/5/ba09CVWib2QcIw7oIxtE2gY6+9OhhtI6ObutaR0e3da2jo9u61tHRbV3r6Oi2rnV09MdTvqWyYj5fbL0ysnpe+Lwqy570X7Vu6x43dO/6tmgdHd3WtY6ObutaR0ffeLR/eBf+dTkBdMKIw8TvBjMAAAAASUVORK5CYII=) center;
}

.F2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAeElEQVRo3u3YMQoAIQwF0SR7/ztvY2FnoULA98FWGMbZYuN7dgEd+tGrl2MdOnStsw4dutZZhw5d66xDh6511qFD1zrrN1ZZj6JXRjf2uJjyvBxnc6xr3Re+eeuHxjp06FpnHTp0rbMOHbrWWYcOffNq/+E9+Hb7AQkriMBj9U1xAAAAAElFTkSuQmCC) center;
}

.G2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAfElEQVRo3u3Z0QnAIAwE0CTdf2c7QKGIFqR5N4DwOM8f42qbQEffevRrtI6ObutaR0e3da2jo9u61tHRbV3r6Ojfb72ymm69MrJ6Xvi8S86e9F+1HnN52vp8vPDo6KdvfU+0jo5u61pHR7d1raOj27rW0dEXj/bn5sIflwEiZojDefHvHQAAAABJRU5ErkJggg==) center;
}

.A2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAc0lEQVRo3u3UMQrAMAwEQUn+/5/TpE9jZBONIG1gWM6xxl6go2/99eepjo5u66qjo9u66ujotq46Orqtq95Nr6yh9Mq4zd619Xy/gVufVd3Wf/jCx4lTHR3d1lVHR7d11dHRbV11dHRbVx0dfcdjoDp69z2q/IjAw9TxYgAAAABJRU5ErkJggg==) center;
}

.H2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAc0lEQVRo3u3VwQ2AMAwEQZ/pv+fQAZ+ISPG4AKTRclDP2Ct09K2P/jzV0dFtXXV0dFtXHR3d1lVHRz+79U4P3Xqn0jNf+LyRM5M+q7qt+7mhX0GvE6c6Orqtq46Obuuqo6Pbuuro6LauOjr6jo+B6uh/3wLP+4jDvJxBwAAAAABJRU5ErkJggg==) center;
}

.C3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdklEQVRo3u3VQQqAMAxFwSTe/85uuu8m1Eqm4FYYnt/GM/YEOnrrq7dHdXR0W1cdHd3WVUdHt3XVb6JX1lB6ZdxmP7X1XM/Arc+qbuvudfe6Dx79p/T44qiOjm7rqqOj27rq6Oi2rjo6uq2rjo7e8TNQHf30eQFM3IjAOIMhWQAAAABJRU5ErkJggg==) center;
}

.D3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3W0Q2EMAxEQa/pv2fogJ+IBHlcANLo3cLVNfYKHX3po19PdXR0W1cdHd3WVUdHP3frnR669U6lZ/7g80TOTPqs6rbu44buP7yto6P/hl47TnV0dFtXHR3d1lVHR7d11dHRbV11dPQVLwPV0b++G32fiMMsS3W8AAAAAElFTkSuQmCC) center;
}

.E3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdklEQVRo3u3VQQqAMAxFwSTe/85uuu8m1Eqm4FYYnt/GM/YEOnrrq7dHdXR0W1cdHd3WVf8LvbKG0ivjNvupred6Bm59VnVbd6+7133w6LauOjr6xfT44qiOjm7rqqOj27rq6Oi2rjo6uq2rjo7e8TNQHf30eQHurYjARVGlTgAAAABJRU5ErkJggg==) center;
}

.F3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3W0Q2EMAxEQa/pv2fogJ+IBHlcANLo3cLVNfYKHX3po19PdXR0W1cdHf2fW+/00K13Kj3zB58ncmbSZ1W3dR83dP/hbR0d3dZVR0c/il47TnV0dFtXHR3d1lVHR7d11dHRbV11dPQVLwPV0b++GytDiMNCojUWAAAAAElFTkSuQmCC) center;
}

.G3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3VQQqAMAxFwSTe/85uuu8mtGKm4FYYnt/GM/YEOnrrq7dHdXR0W1f9D/TKGkqvjK/ZT2091zNw67Oq27p73b3ug0e3ddXR0W1ddXT0y/S4cVRHR7d11dHRbV11dHRbVx0d3dZVR0fv+Bmojn76vJCNiMAIwVG/AAAAAElFTkSuQmCC) center;
}

.A3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3W0Q2EMAxEQdv033PogJ8oSNlxAUijdwtXT+wVOvrWR3+e6ujo9219ekK3Pl09mT/4fiN3Jj2ruq37uKH7D2/r6Oi2rjo6uq2rjo5+nF5/nOro6LauOjq6rauOjm7rqqOj27rq6Og7Xgaqo5++BdjYiMNaYPanAAAAAElFTkSuQmCC) center;
}

.H3 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3VQQqAMAxFwSS9/53duHdT0mKm4FYYnt/GGnsCHX3rqz+P6n+nV9ZQemXcZu/aer7PwK3Pqm7r7nX3ug8e3dZVR0e3ddXR0W1ddXT0BnqcOKqjo9u66ujotq46Orqtq46Obuuqo6Pv+Bmojt59HjJtiMBlup42AAAAAElFTkSuQmCC) center;
}

.C4 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUAAACSkpK2trb///+vy7M/AAAAdUlEQVRo3u3VQQ5AAAxE0bbuf2e2xLJhMa8HkLx8Qx2xV+joq4++3fTU8zKqT1dP5gvfV+TOpGdVt3U/N/TErb+d6ujotq46Orqtq46Obuuqo6Mv0+uPUx0d3dZVR0e3ddXR0W1ddXR0W1cdHX3jY6A6+td3AoZ8iMOk8DeqAAAAAElFTkSuQmCC) center;
}

.C4_p {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAAyCAMAAABCiTbWAAAADFBMVEUzMzOSkpK2trb////+MEPtAAAAdElEQVRo3u3VsQ2AQBADQd/Tf8+IEJE+EHiuAKTRYshRe0FH3/ro+00e11F9TWZ1vvBX8+mkd1W3dT839Mqtx9a98Oi2rjo6uq2rjo5u66qjo79Ozx+nOjq6rauOjm7rqqOj27rq6Oi2rjo6+o6PgeroX98JKMWIu4gr9nIAAAAASUVORK5CYII=) center;
}

.no_bg_img {
    background:none;
}